<a href="https://colab.research.google.com/github/amitraghatate/Basic-of-Python/blob/Data-Types/Basic_of_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple = ( ) , It is Immutable means can not change

In [1]:
var_tuple = ('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
print(var_tuple)
print(type(var_tuple))

('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
<class 'tuple'>

In [4]:
print(var_tuple[0])
print(var_tuple[1])
print(var_tuple[2])
print(var_tuple[3])
print(var_tuple[4])
print(var_tuple[5])
print(var_tuple[6])

Apple
Banana
Cherries
Dates
Eggfruit
Fig
Honey Fruit

In [13]:
#Postitve Indexing and Postive Slicing
print(var_tuple[0:len(var_tuple):1])
print(var_tuple[0:7:])
print(var_tuple[0:6:])
print(var_tuple[:5:])
print(var_tuple[:4:])
print(var_tuple[:3:])
print(var_tuple[:2:])
print(var_tuple[:1:])

('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig')
('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit')
('Apple', 'Banana', 'Cherries', 'Dates')
('Apple', 'Banana', 'Cherries')
('Apple', 'Banana')
('Apple',)

In [16]:
print(var_tuple[0:7:])
print(var_tuple[1:7:])
print(var_tuple[2:7:])
print(var_tuple[3:7:])
print(var_tuple[4:7:])
print(var_tuple[5:7:])
print(var_tuple[6:7:])

('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
('Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
('Cherries', 'Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
('Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
('Eggfruit', 'Fig', 'Honey Fruit')
('Fig', 'Honey Fruit')
('Honey Fruit',)

In [22]:
#Negatitve Indexing and Negative Slicing
print(var_tuple[::-1])
print(var_tuple[:-7:-1])
print(var_tuple[:-6:-1])
print(var_tuple[:-5:-1])
print(var_tuple[:-4:-1])
print(var_tuple[:-3:-1])
print(var_tuple[:-2:-1])
print(var_tuple[:-1:-1])

('Honey Fruit', 'Fig', 'Eggfruit', 'Dates', 'Cherries', 'Banana', 'Apple')
('Honey Fruit', 'Fig', 'Eggfruit', 'Dates', 'Cherries', 'Banana')
('Honey Fruit', 'Fig', 'Eggfruit', 'Dates', 'Cherries')
('Honey Fruit', 'Fig', 'Eggfruit', 'Dates')
('Honey Fruit', 'Fig', 'Eggfruit')
('Honey Fruit', 'Fig')
('Honey Fruit',)
()

In [37]:
print(var_tuple[::-1])
print(var_tuple[-1:-8:-1])
print(var_tuple[-2:-8:-1])
print(var_tuple[-3:-8:-1])
print(var_tuple[-4:-8:-1])
print(var_tuple[-5:-8:-1])
print(var_tuple[-6:-8:-1])
print(var_tuple[-7:-8:-1])
print(var_tuple[-8:-8:-1])

('Honey Fruit', 'Fig', 'Eggfruit', 'Dates', 'Cherries', 'Banana', 'Apple')
('Honey Fruit', 'Fig', 'Eggfruit', 'Dates', 'Cherries', 'Banana', 'Apple')
('Fig', 'Eggfruit', 'Dates', 'Cherries', 'Banana', 'Apple')
('Eggfruit', 'Dates', 'Cherries', 'Banana', 'Apple')
('Dates', 'Cherries', 'Banana', 'Apple')
('Cherries', 'Banana', 'Apple')
('Banana', 'Apple')
('Apple',)
()

In [40]:
#Functions of Tuple
print(var_tuple)
print(var_tuple.count('Dates'))

('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig', 'Honey Fruit')
1

In [39]:
print(var_tuple.index('Dates'))

3