<a href="https://colab.research.google.com/github/amitraghatate/Basic-of-Python/blob/Data-Types/Basic_of_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set = { } , It is Mutable

In [74]:
var_set = {1,2,3,4,5,6,7}
print(var_set)
print(type(var_set))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [75]:
#Odd Condition
var_set = {}
print(var_set)
print(type(var_set))

{}
<class 'dict'>

In [76]:
var_set = {1,2,3,4,5,6,7,8,1,2,3,1,5,2,3,1,3}
print(var_set)
print(type(var_set))
print(len(var_set))

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>
8

In [77]:
var_set = {'Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruits', ' Fig', 'Grapes'}
var_set

{' Fig', 'Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruits', 'Grapes'}

In [78]:
#Function of Set
var_set.add('Mangoes')
print(var_set)

{'Banana', ' Fig', 'Mangoes', 'Eggfruits', 'Dates', 'Apple', 'Grapes', 'Cherries'}

In [79]:
var_set.clear()
var_set

set()

In [80]:
var_set = {'Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruits', ' Fig', 'Grapes'}
var_set_cp = var_set.copy()
print(var_set)
print(var_set_cp)

{'Banana', ' Fig', 'Eggfruits', 'Dates', 'Apple', 'Grapes', 'Cherries'}
{'Banana', 'Eggfruits', ' Fig', 'Dates', 'Apple', 'Grapes', 'Cherries'}

In [81]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {6,7,8,9,10,11,12,13,14,15}
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5}
{11, 12, 13, 14, 15}

In [82]:
a.difference_update(b)
print(a)
print(b)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [83]:
b.difference_update(a)
print(a)
print(b)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [84]:
a = {1,2,3,4,5,6,7,8,9,10}
a.discard(4)
print(a)

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [85]:
a.discard(12)
a

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [86]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
c = a.intersection(b)
c

{5, 6, 7, 8, 9}

In [87]:
c = b.intersection(a)
c

{5, 6, 7, 8, 9}

In [88]:
a.intersection_update(b)
print(a,b)

{5, 6, 7, 8, 9} {5, 6, 7, 8, 9, 10, 11, 12, 13}

In [89]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
b.intersection_update(a)
print(a,b)

{1, 2, 3, 4, 5, 6, 7, 8, 9} {5, 6, 7, 8, 9}

In [90]:
a.isdisjoint(b)

False

In [91]:
a = {1,2,3,4,5,6,7,8,9}
b = {10,11,12,13,14,15,16,17,18}
print(a.isdisjoint(b))
print(b.isdisjoint(a))

True
True

In [92]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
print(a.issubset(b))
print(b.issubset(a))

False
False

In [93]:
a = {1,2,3}
b = {1,2,3,4,5,6,7,8,9}
print(a.issubset(b))
print(b.issubset(a))

True
False

In [94]:
a = {1,2,3,4,5,6,7,8,9}
b = {1,2,3}
print(a.issuperset(b))
print(b.issuperset(a))

True
False

In [95]:
a = {1,2,3,4,5,6,7,8,9}
b = {1,2,3}
a.pop()
print(a)
b.pop()
print(b)
b.pop()
print(b)

{2, 3, 4, 5, 6, 7, 8, 9}
{2, 3}
{3}

In [96]:
a = {1,2,3,4,5,6,7,8,9}
b = {1,2,3}
a.remove(2)
a

{1, 3, 4, 5, 6, 7, 8, 9}

In [97]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{1, 2, 3, 4, 10, 11, 12, 13}
{1, 2, 3, 4, 10, 11, 12, 13}

In [98]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
c = {}
print(a.symmetric_difference(c))
print(b.symmetric_difference(c))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9, 10, 11, 12, 13}

In [109]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
a.symmetric_difference_update(b)
print(a)
print(b)

{1, 2, 3, 4, 10, 11, 12, 13}
{5, 6, 7, 8, 9, 10, 11, 12, 13}

In [111]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
b.symmetric_difference_update(a)
print(b)

{1, 2, 3, 4, 10, 11, 12, 13}

In [104]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [105]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [112]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,9,10,11,12,13}
a.update(b)
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{5, 6, 7, 8, 9, 10, 11, 12, 13}