<a href="https://colab.research.google.com/github/amitraghatate/Basic-of-Python/blob/Conditional-Statement/Different_types_of_Coading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Wap to add two number

In [ ]:
a = 40
b = 50
print('Addition of two Numbers:', a+b)

Addition of two Numbers: 90

Wap maximum of two numbers

In [ ]:
a = 40
b = 50
if (a<b):
  print('Maximum of Number is b', b)
else:
  print('Maximum of Number is a', a)

Maximum of Number is b 50

Wap for Factorial of Number

In [ ]:
n = int(input('Enter the Factorial value: '))
num = n
print("n must be > or = Zero - No Negative Number")

if(n==0):
  print('Factorial not possible')
elif(n==1):
  print('Factorial is:')
else:
  fact = 1
  while (n > 1):
    fact *= n
    n -= 1
print("Factorial of",num," is ",fact)

Enter the Factorial value: 5
n must be > or = Zero - No Negative Number
Factorial of 5  is  120

In [ ]:
n = int(input('Enter the Factorial value: '))
num = n
print("n must be > or = Zero - No Negative Number")

if(n==0):
  print('Factorial not possible')
elif(n==1):
  print('Factorial is:')
else:
  fact = 1
  while (n > 1):
    fact *= n
    n -= 1
print("Factorial of",num," is ",fact)

Enter the Factorial value: 14
n must be > or = Zero - No Negative Number
Factorial of 14  is  87178291200

Wap for simple interest

In [ ]:
p = int(input("Value of Principle: "))
r = int(input("Value of Rate: "))
t = int(input("Value of Time: "))

print('Simple Interest: ', (p*r*t)/100)

Value of Principle: 10000
Value of Rate: 8
Value of Time: 12
Simple Interest:  9600.0

In [ ]:
p = int(input("Value of Principle: "))
r = int(input("Value of Rate: "))
t = int(input("Value of Time: "))

print('Simple Interest: ', (p*r*t)/100)

Value of Principle: 15000
Value of Rate: 12
Value of Time: 24
Simple Interest:  43200.0

Wap for compound interest

In [ ]:
p = int(input("Value of Principle: "))
r = int(input("Value of Rate: "))
t = int(input("Value of Time: "))

print('Simple Interest: ', p*((1+r)/100)*t)

Value of Principle: 10000
Value of Rate: 8
Value of Time: 12
Simple Interest:  10800.0

In [ ]:
p = int(input("Value of Principle: "))
r = int(input("Value of Rate: "))
t = int(input("Value of Time: "))

print('Simple Interest: ', p*((1+r)/100)*t)

Value of Principle: 15000
Value of Rate: 12
Value of Time: 24
Simple Interest:  46800.0

Wap to check Armstrong Number

In [ ]:
n = int(input('Enter the Number:'))
sum = 0
temp = n
while temp>0:
  digit = temp % 10
  sum += digit ** 3
  temp //= 10
if n == sum:
  print(n, "Is a Armstrong Number")
else:
  print(n, "Is not Armstrong Number")

Enter the Number:1
1 Is a Armstrong Number

In [ ]:
n = int(input('Enter the Number:'))
sum = 0
temp = n
while temp>0:
  digit = temp % 10
  sum += digit ** 3
  temp //= 10
if n == sum:
  print(n, "Is a Armstrong Number")
else:
  print(n, "Is not Armstrong Number")

Enter the Number:15
15 Is not Armstrong Number

In [ ]:
n = int(input('Enter the Number:'))
sum = 0
temp = n
while temp>0:
  digit = temp % 10
  sum += digit ** 3
  temp //= 10
if n == sum:
  print(n, "Is a Armstrong Number")
else:
  print(n, "Is not Armstrong Number")

Enter the Number:153
153 Is a Armstrong Number

Wap for Program to find area of a circle

In [ ]:
n = int(input("Enter radiusof Citcle: "))

print('Area of Circle:', 3.14*n*n)

Enter radiusof Citcle: 5
Area of Circle: 78.5

In [ ]:
n = int(input("Enter radiusof Citcle: "))

print('Area of Circle:', 3.14*n*n)

Enter radiusof Citcle: 40
Area of Circle: 5024.0

Wap to print all Prime numbers in an Interval

In [ ]:
lower = 1
higher = 99
print("Prime number between", lower,"and", higher, "are: ")
for n in range (lower, higher+1):
  if n > 1:
    for i in range (2, n):
      if (n % i) ==0:
        break
    else:
      print(n)

Prime number between 1 and 99 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
lower = 200
higher = 400
print("Prime number between", lower,"and", higher, "are: ")
for n in range (lower, higher+1):
  if n > 1:
    for i in range (2, n):
      if (n % i) ==0:
        break
    else:
      print(n)

Prime number between 200 and 400 are:
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397

Wap to check whether a number is Prime or not

In [ ]:
n = 31
show = False
if n > 1:
  for i in range (2, n):
    if (n % i) ==0:
      show = True
      break
if show:
  print(n, "is not a prime number")
else:
  print(n, "is a prime number")

31 is a prime number

In [ ]:
n = 8
show = False
if n > 1:
  for i in range (2, n):
    if (n % i) ==0:
      show = True
      break
if show:
  print(n, "is not a prime number")
else:
  print(n, "is a prime number")

8 is not a prime number

Wap for printing pattern

In [ ]:
for i in range (10,0,-1):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,11-i):
    print("1", end = "")
  print("\r")

1
11
111
1111
11111
111111
1111111
11111111
111111111
1111111111

Wap for printing pattern

In [ ]:
for i in range (0,11):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,10-i):
    print("1", end = "")
  print("\r")

1111111111
111111111
11111111
1111111
111111
11111
1111
111
11
1

Wap for printing pattern

In [ ]:
for i in range (10,0,-1):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,11-i):
    print(k+1, end = "")
  print("\r")

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

Wap for printing pattern

In [ ]:
for i in range (0,11):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,10-i):
    print(k+1, end = "")
  print("\r")

12345678910
123456789
12345678
1234567
123456
12345
1234
123
12
1

Wap for printing pattern

In [ ]:
for i in range (10,0,-1):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,11-i):
    print(9-j, end = "")
  print("\r")

0
11
222
3333
44444
555555
6666666
77777777
888888888
9999999999

Wap for printing pattern

In [ ]:
for i in range (0,11):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,10-i):
    print(9-j, end = "")
  print("\r")

0000000000
999999999
88888888
7777777
666666
55555
4444
333
22
1

Wap for printing pattern

In [ ]:
for i in range (0,10):
  for j in range (0,10):
    print(i, end = "")
    if ((i==0),(j==10)):
      print("", end = "")
    else:
      print("", end = "")
  print('\r')

0000000000
1111111111
2222222222
3333333333
4444444444
5555555555
6666666666
7777777777
8888888888
9999999999

Wap for printing pattern

In [ ]:
for i in range (0,10):
  for j in range (0,10):
    print(9-i, end = "")
    if ((i==0),(j==10)):
      print("", end = "")
    else:
      print("", end = "")
  print('\r')

9999999999
8888888888
7777777777
6666666666
5555555555
4444444444
3333333333
2222222222
1111111111
0000000000

Wap for printing pattern

In [ ]:
for i in range (10,0,-1):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,11-i):
    print(k-j+i, end = "")
  print("\r")

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

Wap for printing pattern

In [ ]:
for i in range (0,11):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,10-i):
    print(9-k, end = "")
  print("\r")

9876543210
987654321
98765432
9876543
987654
98765
9876
987
98
9

Wap for printing pattern

In [ ]:
number = int(input("Enter the Number: "))
digit = 1
for i in range (1, number+1):
  for j in range (1, i+1):
    print(digit, end = " ")
    digit += 1
  print()

Enter the Number: 4
1
2 3
4 5 6
7 8 9 10

Wap for printing pattern

In [ ]:
for i in range (10,0,-1):
  for j in range (0,i):
    print("", end = " ")
  for k in range (0,11-i):
    print("*", end = " ")
  print("\r")

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

Wap for printing pattern

In [ ]:
for i in range (0,11):
  for j in range (0,i):
    print("", end = " ")
  for k in range (0,10-i):
    print("*", end = " ")
  print("\r")

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

Wap for printing pattern

In [ ]:
for i in range (10,0,-1):
  for j in range (0,i):
    print("", end = " ")
  for k in range (0,11-i):
    print("", end = " ")
    if (i in (0,9)):
      print("*", end = "")
    else:
      if (j in (0,9)):
        print("*", end = "")
      else:
        if (k in (0,8)):
          print("*", end = "")
        else:
          print(" ", end= "")
  print("\r")

           *
          * *
         *
        *
       *
      *
     *
    *
   *               *
  * * * * * * * * * *

Wap for printing pattern 'W'

In [ ]:
for i in range (0,8):
  for j in range (0,15):
    if((i==0) & ((j==0) | (j==7) | (j==14))):
      print("*", end = "")
    elif((i==1) & ((j==0) | (j==6) | (j==8) | (j==14))):
      print("*", end="")
    elif((i==2) & ((j==0) | (j==5) | (j==9) | (j==14))):
      print("*", end="")
    elif((i==3) & ((j==0) | (j==4) | (j==10) | (j==14))):
      print("*", end="")
    elif((i==4) & ((j==0) | (j==3) | (j==11) | (j==14))):
      print("*", end="")
    elif((i==5) & ((j==0) | (j==2) | (j==12) | (j==14))):
      print("*", end="")
    elif((i==6) & ((j==0) | (j==1) | (j==13) | (j==14))):
      print("*", end="")
    elif((i==7) & ((j==0) | (j==14))):
      print("*", end="")
    else:
      print(" ", end = "")
  print("\r")

*      *      *
*     * *     *
*    *   *    *
*   *     *   *
*  *       *  *
* *         * *
**           **
*             *

In [ ]:
for i in range (0,7):
  for j in range (0,4):
    if((i==0) & ((j==0) | (j==3))):
      print("*", end = "")
    elif((i==1) & ((j==0) | (j==2))):
      print("*", end = "")
    elif((i==2) & ((j==0) | (j==1))):
      print("*", end = "")
    elif((i==3) & (j==0)):
      print("*", end = "")
    elif((i==4) & ((j==0) | (j==1))):
      print("*", end = "")
    elif((i==5) & ((j==0) | (j==2))):
      print("*", end = "")
    elif((i==6) & ((j==0) | (j==3))):
      print("*", end = "")
    else:
      print(" ", end = "")
  print("\r")

*  *
* *
**
*
**
* *
*  *

Wap for printing pattern 'H'

In [ ]:
for i in range (0,7):
  for j in range (0,10):
    if((i==0) & ((j==0) | (j==9))):
      print("*", end = "")
    elif((i==1) & ((j==0) | (j==9))):
      print("*", end = "")
    elif((i==2) & ((j==0) | (j==9))):
      print("*", end = "")
    elif((i==3) & (j in (0,1,2,3,4,5,6,7,8,9))):
      print("*", end = "")
    elif((i==4) & ((j==0) | (j==9))):
      print("*", end = "")
    elif((i==5) & ((j==0) | (j==9))):
      print("*", end = "")
    elif((i==6) & ((j==0) | (j==9))):
      print("*", end = "")
    else:
      print(" ", end = "")
  print('\r')

*        *
*        *
*        *
**********
*        *
*        *
*        *

Wap for printing pattern 'F'

In [ ]:
for i in range (0,7):
  for j in range (0,10):
    if((i in (0,1,2,3,4,5,6)) & (j==0)):
      print("*", end = "")
    elif((i in (0,3)) & (j in (0,1,2,3,4,5,6,7,8,9))):
      print("*", end = "")
    else:
      print(" ", end = "")
  print("\r")

**********
*
*
**********
*
*
*

Wap for printing pattern 'E'

In [ ]:
for i in range (0,7):
  for j in range (0,10):
    if((i in (0,1,2,3,4,5,6)) & (j==0)):
      print("*", end = "")
    elif((i in (0,3,6)) & (j in (0,1,2,3,4,5,6,7,8,9))):
      print("*", end = "")
    else:
      print(" ", end = "")
  print("\r")

**********
*
*
**********
*
*
**********

Wap for printing pattern 'Y'

In [ ]:
for i in range (0,10):
  for j in range (0,11):
    if((i==0) & (j in (0,10))):
      print("*", end = "")
    elif((i==1) & (j in (1,9))):
      print("*", end = "")
    elif((i==2) & (j in (2,8))):
      print("*", end = "")
    elif((i==3) & (j in (3,7))):
      print("*", end = "")
    elif((i==4) & (j in (4,6))):
      print("*", end = "")
    elif((i in (5,6,7,8,9)) & (j==5)):
      print("*", end = "")
    else:
      print(" ", end = "")
  print("\r")

*         *
 *       *
  *     *
   *   *
    * *
     *
     *
     *
     *
     *

Wap for printing pattern 'X'

In [ ]:
for i in range (0,11):
  for j in range (0,11):
    if(i==j):
      print("*", end = "")
    elif(((i==0) & (j==10)) | ((i==1) & (j==9)) | ((i==2) & (j==8)) | ((i==3) & (j==7)) | ((i==4) & (j==6)) | ((i==5) & (j==5)) | ((i==6) & (j==4)) | ((i==7) & (j==3)) | ((i==8) & (j==2)) | ((i==9) & (j==1)) | ((i==10) & (j==0))):
      print("*", end = "")
    else:
      print(" ", end = "")
  print("\r")

*         *
 *       *
  *     *
   *   *
    * *
     *
    * *
   *   *
  *     *
 *       *
*         *

Wap for printing pattern 'Z'

In [ ]:
for i in range (0,10):
  for j in range (0,10):
    if((i==0) | (i==9)):
      print("*", end = "")
    elif(((i==0) & (j==9)) | ((i==1) & (j==8)) | ((i==2) & (j==7)) | ((i==3) & (j==6)) | ((i==4) & (j==5)) | ((i==5) & (j==4)) | ((i==6) & (j==3)) | ((i==7) & (j==2)) | ((i==8) & (j==1)) | ((i==9) & (j==0))):
      print("*", end = "")
    else:
      print(" ", end = "")
  print("\r")

**********
        *
       *
      *
     *
    *
   *
  *
 *
**********