<a href="https://colab.research.google.com/github/amitraghatate/Basic-of-Python/blob/Conditional-Statement/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for 
for i in range (0,10):
  print('Value of i: ',i)

Value of i:  0
Value of i:  1
Value of i:  2
Value of i:  3
Value of i:  4
Value of i:  5
Value of i:  6
Value of i:  7
Value of i:  8
Value of i:  9

In [ ]:
#for else
for i in range (0,10):
  print('Value of i: ',i)
else:
  print('We are in else section')

Value of i:  0
Value of i:  1
Value of i:  2
Value of i:  3
Value of i:  4
Value of i:  5
Value of i:  6
Value of i:  7
Value of i:  8
Value of i:  9
We are in else section

In [ ]:
#pass
a=30
if(a>20):
  pass

In [ ]:
#Break Statment
for i in range (0,10):
  print('Value of i: ',i)
  if (i==5):
    break
else:
  print('We are in else section')

Value of i:  0
Value of i:  1
Value of i:  2
Value of i:  3
Value of i:  4
Value of i:  5

In [ ]:
#Continue Statment
for i in range (0,10):
  if (i==5):
    continue
  print('Value of i: ',i)
else:
  print('We are in else section')

Value of i:  0
Value of i:  1
Value of i:  2
Value of i:  3
Value of i:  4
Value of i:  6
Value of i:  7
Value of i:  8
Value of i:  9
We are in else section

In [ ]:
#Nested for
for i in range (1,11):
  for j in range (1,11):
    print(i*j, end= ' ')
  print('\r')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range (10,0,-1):
  print('Value of i: ', i)

Value of i:  10
Value of i:  9
Value of i:  8
Value of i:  7
Value of i:  6
Value of i:  5
Value of i:  4
Value of i:  3
Value of i:  2
Value of i:  1

In [ ]:
for i in range (10,0,-1):
  for j in range (10,0,-1):
    print(i*j, end=' ')
  print('\n')

100 90 80 70 60 50 40 30 20 10

90 81 72 63 54 45 36 27 18 9

80 72 64 56 48 40 32 24 16 8

70 63 56 49 42 35 28 21 14 7

60 54 48 42 36 30 24 18 12 6

50 45 40 35 30 25 20 15 10 5

40 36 32 28 24 20 16 12 8 4

30 27 24 21 18 15 12 9 6 3

20 18 16 14 12 10 8 6 4 2

10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range (1,11,1):
  for j in range (1,11,1):
    print(i*j, end=' ')
  print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [ ]:
#10*10 Matrix (*)
for i in range (1,11):
  for j in range (1,11):
    print('*', end = ' ')
  print('\r')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range (0,10):
  for j in range (0,10):
    if (i in (0,9)):
      print('*', end = ' ')
    else:
      if(j in (0,9)):
        print('*', end = ' ')
      else:
        print(' ', end = ' ')
  print('\r')

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [ ]:
for i in range (0,10):
  for j in range (0,10):
    if((i==0) | (i==9)):
      print('*', end = ' ')
    else:
      if((j==0) | (j==9)):
        print('*', end = ' ')
      else:
        print(' ', end = ' ')
  print('\r')

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [ ]:
for i in range (0,1):
  for j in range (0,1):
    if((i==0) | (i==1)):
      print('*', end = ' ')
    else:
      if((j==0) | (j==1)):
        print('*', end = ' ')
      else:
        print(' ', end = ' ')
  print('\r')

*

In [ ]:
for i in range (0,2):
  for j in range (0,2):
    if((i==0) | (i==2)):
      print('*', end = ' ')
    else:
      if((j==0) | (j==2)):
        print('*', end = ' ')
      else:
        print(' ', end = ' ')
  print('\r')

* *
*

In [ ]:
for i in range (0,3):
  for j in range (0,3):
    if((i==0) | (i==3)):
      print('*', end = ' ')
    else:
      if((j==0) | (j==3)):
        print('*', end = ' ')
      else:
        print(' ', end = ' ')
  print('\r')

* * *
*
*

In [ ]:
for i in range (0,5):
  for j in range (0,5):
    if((i==0) | (i==5)):
      print('*', end = ' ')
    else:
      if((j==0) | (j==5)):
        print('*', end = ' ')
      else:
        print(' ', end = ' ')
  print('\r')

* * * * *
*
*
*
*

In [ ]:
for i in range (0,8):
  for j in range (0,8):
    if((i==0) | (i==7)):
      print('*', end = ' ')
    else:
      if((j==0) | (j==7)):
        print('*', end = ' ')
      else:
        print(' ', end = ' ')
  print('\r')

* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *

In [ ]:
for i in range (0,10):
  for j in range (0,10):
    if((i==0) | (i==9)):
      print('*', end = ' ')
    else:
      if((j==0) | (j==9)):
        print('*', end = ' ')
      else:
        print(' ', end = ' ')
  print('\r')

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [ ]:
for i in range (1,101,10):
  for j in range(i, i+10):
    print(j, end = ' ')
  print()

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [7]:
for i in range (0,10):
  for j in range (0,10):
    if((i==0) | (i==9)):
      print("('i','j')", end = ' ')
    else:
      if((j==0) | (j==9)):
        print("('i','j')", end = ' ')
      else:
        print(' ', end = ' ')
  print('\n')

('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j')

('i','j')                 ('i','j')

('i','j')                 ('i','j')

('i','j')                 ('i','j')

('i','j')                 ('i','j')

('i','j')                 ('i','j')

('i','j')                 ('i','j')

('i','j')                 ('i','j')

('i','j')                 ('i','j')

('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j') ('i','j')

In [8]:
for i in range(0, 10):
  for j in range(0, 10):
    if ((i == 0) | (i == 9)):
      print("(",i,",",j,")", end=' ')
    else:
      if ((j == 0) | (j == 9)):
        print("(",i,",",j,")", end= ' ')
      else:
        print("---------", end =' ')
  print('\n')

( 0 , 0 ) ( 0 , 1 ) ( 0 , 2 ) ( 0 , 3 ) ( 0 , 4 ) ( 0 , 5 ) ( 0 , 6 ) ( 0 , 7 ) ( 0 , 8 ) ( 0 , 9 )

( 1 , 0 ) --------- --------- --------- --------- --------- --------- --------- --------- ( 1 , 9 )

( 2 , 0 ) --------- --------- --------- --------- --------- --------- --------- --------- ( 2 , 9 )

( 3 , 0 ) --------- --------- --------- --------- --------- --------- --------- --------- ( 3 , 9 )

( 4 , 0 ) --------- --------- --------- --------- --------- --------- --------- --------- ( 4 , 9 )

( 5 , 0 ) --------- --------- --------- --------- --------- --------- --------- --------- ( 5 , 9 )

( 6 , 0 ) --------- --------- --------- --------- --------- --------- --------- --------- ( 6 , 9 )

( 7 , 0 ) --------- --------- --------- --------- --------- --------- --------- --------- ( 7 , 9 )

( 8 , 0 ) --------- --------- --------- --------- --------- --------- --------- --------- ( 8 , 9 )

( 9 , 0 ) ( 9 , 1 ) ( 9 , 2 ) ( 9 , 3 ) ( 9 , 4 ) ( 9 , 5 ) ( 9 , 6 ) ( 9 , 7 ) ( 9 , 8 ) ( 9 , 9 )

In [27]:
#Pyramid
for i in range (10,0,-1):
  for j in range (0,i):
    print(" ", end = "")
  for k in range (0,11-i):
    print("*", end = " ")
  print("\r")

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [89]:
for i in range (10,0,-1):
  for j in range (0,i):
    print(" ", end = "")
  for k in range (0,11-i):
    print((i,j), end = " ")
  print("\r")

          (10, 9)
         (9, 8) (9, 8)
        (8, 7) (8, 7) (8, 7)
       (7, 6) (7, 6) (7, 6) (7, 6)
      (6, 5) (6, 5) (6, 5) (6, 5) (6, 5)
     (5, 4) (5, 4) (5, 4) (5, 4) (5, 4) (5, 4)
    (4, 3) (4, 3) (4, 3) (4, 3) (4, 3) (4, 3) (4, 3)
   (3, 2) (3, 2) (3, 2) (3, 2) (3, 2) (3, 2) (3, 2) (3, 2)
  (2, 1) (2, 1) (2, 1) (2, 1) (2, 1) (2, 1) (2, 1) (2, 1) (2, 1)
 (1, 0) (1, 0) (1, 0) (1, 0) (1, 0) (1, 0) (1, 0) (1, 0) (1, 0) (1, 0)

In [91]:
for i in range (10,0,-1):
  for j in range (0,i):
    print(" ", end = "")
  for k in range (0,11-i):
    print((i,k), end = " ")
  print("\r")

          (10, 0)
         (9, 0) (9, 1)
        (8, 0) (8, 1) (8, 2)
       (7, 0) (7, 1) (7, 2) (7, 3)
      (6, 0) (6, 1) (6, 2) (6, 3) (6, 4)
     (5, 0) (5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
    (4, 0) (4, 1) (4, 2) (4, 3) (4, 4) (4, 5) (4, 6)
   (3, 0) (3, 1) (3, 2) (3, 3) (3, 4) (3, 5) (3, 6) (3, 7)
  (2, 0) (2, 1) (2, 2) (2, 3) (2, 4) (2, 5) (2, 6) (2, 7) (2, 8)
 (1, 0) (1, 1) (1, 2) (1, 3) (1, 4) (1, 5) (1, 6) (1, 7) (1, 8) (1, 9)

In [29]:
for i in range (0,10,1):
  for j in range (0,i):
    print(" ", end = "")
  for k in range (0,10-i):
    print("*", end = " ")
  print("\r")

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [52]:
a = 0
for i in range (10,0,-1):
  for j in range (0,a):
    print(" ", end = "")
  for k in range (0,i):
    print("*", end = " ")
  a+=1
  print("\r")

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [65]:
 a = 0
for i in range (11,0,-1):
  for j in range (0,a):
    print(" ", end = "")
  for k in range (0,i):
    print("*", end = " ")
  a+=1
  print("\r")
for i in range (10,0,-1):
  for j in range (0,i):
    print(" ", end = "")
  for k in range (0,11-i):
    print("*", end = " ")
  print("\r")

* * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [66]:
for i in range (10,0,-1):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,11-i):
    print("*", end = " ")
  print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [67]:
for i in range (0,10,1):
  for j in range (0,i):
    print("", end = "")
  for k in range (0,10-i):
    print("*", end = " ")
  print("\r")

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [70]:
for i in range (0,10,1):
  for j in range (0,i):
    print(" ", end = "")
  for k in range (0,10-i):
    print("*", end = "")
  print("\r")

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [74]:
for i in range (10,0,-1):
  for j in range (0,i):
    print("", end = " ")
  for k in range (0,11-i):
    print("*", end = "")
  print("\r")

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********