<a href="https://colab.research.google.com/github/amitraghatate/Basic-of-Python/blob/Conditional-Statement/if%2C_else_and_elif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Conditional Statements
#if
a = 10
b = 20

if (a>b):
  print('if (a>b)',a) #No Output

In [ ]:
if (a<b):
  print('if (a>b)', a)

if (a>b) 10

In [ ]:
a = 10
b = 20

if ((a<50) & (b>15)):
  print('if ((a<50) & (b>15)) ')

if ((a<50) & (b>15))

In [ ]:
#if else
a = 10
b = 20
if (a>b):
  print('a is grater than b')
else:
  print('We are in else section')

We are in else section

In [ ]:
if (a<b):
  print('a is grater than b')
else:
  print('We are in else section')

a is grater than b

In [ ]:
#elif
a = 10
b = 20
if (a>b):
  print('Condition (a>b) is correct')
elif (a==b):
  print('Condition (a==b) is correct')
elif (a<b):
  print('Condition (a<b) is correct')
elif (a!=b):
  print('Condition (a!=b) is correct')
else:
  print('We are in else section')

Condition (a<b) is correct

In [ ]:
a = 10
b = 20
if (a>b):
  print('Condition (a>b) is correct')
elif (a<b):
  print('Condition (a<b) is correct')
elif (a==b):
  print('Condition (a==b) is correct')
elif (a!=b):
  print('Condition (a!=b) is correct')
else:
  print('We are in else section')

Condition (a<b) is correct

In [ ]:
a = 10
b = 20
if (a>b):
  print('Condition (a>b) is correct')
elif (a==b):
  print('Condition (a==b) is correct')
elif (a!=b):
  print('Condition (a!=b) is correct')
elif (a<b):
  print('Condition (a<b) is correct')
else:
  print('We are in else section')

Condition (a!=b) is correct

In [ ]:
a = 10
b = 20
if (a>b):
  print('Condition (a>b) is correct')
elif (a==b):
  print('Condition (a==b) is correct')
else:
  print('We are in else section')

We are in else section

In [ ]:
#Nested if
a = 10
if (a<100):
  print('Condition (a<100) is True')
  if (a<85):
    print('Condition (a<85) is True')
    if (a<70):
      print('Condition (a<70) is True')
      if (a<55):
        print('Condition (a<55) is True')
        if (a<15):
          print('Condition (a<15) is True')
          if (a<-10):
            print('Condition (a<-10) is True')
          else:
            print('Condition (a<-10) is False')
        else:
          print('Condition (a<15) is False')
      else:
        print('Condition (a<55) is False')
    else:
      print('Condition (a<70) is False')
  else:
    print('Condition (a<85) is False')
else:
  print('Condition (a<100) is False')

Condition (a<100) is True
Condition (a<85) is True
Condition (a<70) is True
Condition (a<55) is True
Condition (a<15) is True
Condition (a<-10) is False

In [ ]:
a = -20
if (a<100):
  print('Condition (a<100) is True')
  if (a<85):
    print('Condition (a<85) is True')
    if (a<70):
      print('Condition (a<70) is True')
      if (a<55):
        print('Condition (a<55) is True')
        if (a<15):
          print('Condition (a<15) is True')
          if (a<-10):
            print('Condition (a<-10) is True')
          else:
            print('Condition (a<-10) is False')
        else:
          print('Condition (a<15) is False')
      else:
        print('Condition (a<55) is False')
    else:
      print('Condition (a<70) is False')
  else:
    print('Condition (a<85) is False')
else:
  print('Condition (a<100) is False')

Condition (a<100) is True
Condition (a<85) is True
Condition (a<70) is True
Condition (a<55) is True
Condition (a<15) is True
Condition (a<-10) is True

In [ ]:
a = 85
if (a<100):
  print('Condition (a<100) is True')
  if (a<85):
    print('Condition (a<85) is True')
    if (a<70):
      print('Condition (a<70) is True')
      if (a<55):
        print('Condition (a<55) is True')
        if (a<15):
          print('Condition (a<15) is True')
          if (a<-10):
            print('Condition (a<-10) is True')
          else:
            print('Condition (a<-10) is False')
        else:
          print('Condition (a<15) is False')
      else:
        print('Condition (a<55) is False')
    else:
      print('Condition (a<70) is False')
  else:
    print('Condition (a<85) is False')
else:
  print('Condition (a<100) is False')

Condition (a<100) is True
Condition (a<85) is False

In [ ]:
#Calculate Percentage
per = 78

if (per>=75):
  print('First Calss with Distinction')
elif ((per>=60) & (per<75)):
  print('First Class')
elif ((per>=40) & (per<60)):
  print('Second Class')
elif ((per>=33) & (per<40)):
  print('Third Class')
else:
  print('Better Luck Next Time')

First Calss with Distinction

In [ ]:
per = 53

if (per>=75):
  print('First Calss with Distinction')
elif ((per>=60) & (per<75)):
  print('First Class')
elif ((per>=40) & (per<60)):
  print('Second Class')
elif ((per>=33) & (per<40)):
  print('Third Class')
else:
  print('Better Luck Next Time')

Second Class

In [ ]:
per = 23

if (per>=75):
  print('First Calss with Distinction')
elif ((per>=60) & (per<75)):
  print('First Class')
elif ((per>=40) & (per<60)):
  print('Second Class')
elif ((per>=33) & (per<40)):
  print('Third Class')
else:
  print('Better Luck Next Time')

Better Luck Next Time

In [ ]:
per = 68

if (per>=75):
  print('First Calss with Distinction')
elif ((per>=60) & (per<75)):
  print('First Class')
elif ((per>=40) & (per<60)):
  print('Second Class')
elif ((per>=33) & (per<40)):
  print('Third Class')
else:
  print('Better Luck Next Time')

First Class

In [ ]:
#Salary Bonus Claculation
sal = int(input('Enter Salary of Employee '))

if (sal<=5000):
  print('Bonus Recivied', sal)
elif ((sal>5000) & (sal<=10000)):
  print('Bonus Recivied', sal*0.8)
elif ((sal>10000) & (sal<=15000)):
  print('Bonus Recivied', sal*0.5)
elif ((sal>15000) & (sal<=25000)):
  print('Bonus Recivied', sal*0.15)
elif ((sal>25000)):
  print('Bonus Recivied', sal*0.1)

Enter Salary of Employee 8000
Bonus Recivied 6400.0

In [ ]:
sal = int(input('Enter Salary of Employee '))

if (sal<=5000):
  print('Bonus Recivied', sal)
elif ((sal>5000) & (sal<=10000)):
  print('Bonus Recivied', sal*0.8)
elif ((sal>10000) & (sal<=15000)):
  print('Bonus Recivied', sal*0.5)
elif ((sal>15000) & (sal<=25000)):
  print('Bonus Recivied', sal*0.15)
elif ((sal>25000)):
  print('Bonus Recivied', sal*0.1)

Enter Salary of Employee 23000
Bonus Recivied 3450.0

In [ ]:
sal = int(input('Enter Salary of Employee '))

if (sal<=5000):
  print('Bonus Recivied', sal)
elif ((sal>5000) & (sal<=10000)):
  print('Bonus Recivied', sal*0.8)
elif ((sal>10000) & (sal<=15000)):
  print('Bonus Recivied', sal*0.5)
elif ((sal>15000) & (sal<=25000)):
  print('Bonus Recivied', sal*0.15)
elif ((sal>25000)):
  print('Bonus Recivied', sal*0.1)

Enter Salary of Employee 40000
Bonus Recivied 4000.0

In [ ]:
sal = int(input('Enter Salary of Employee '))

if (sal<=5000):
  print('Bonus Recivied', sal)
elif ((sal>5000) & (sal<=10000)):
  print('Bonus Recivied', sal*0.8)
elif ((sal>10000) & (sal<=15000)):
  print('Bonus Recivied', sal*0.5)
elif ((sal>15000) & (sal<=25000)):
  print('Bonus Recivied', sal*0.15)
elif ((sal>25000)):
  print('Bonus Recivied', sal*0.1)

Enter Salary of Employee 25000
Bonus Recivied 3750.0

In [ ]:
#Measurement Calculation
'''1 mm = 1000 micro meter
   1 mm = 0.1 cm
   1 mm = 0.001 m
   1 mm = 0.000001 km
   1 mm = 1000000 nano meter
   1 mm = 0.0000006213 mile
   1 mm = 0.001093 yard
   1 mm = 0.003280 foot
   1 mm = 0.03937 inch
   1 mm = 0.0000005399 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'mm'):
  print('mm to micro meter =', dist*1000)
  print('mm to cm =', dist*0.1)
  print('mm to m =', dist*0.001)
  print('mm to km =', dist*0.000001)
  print('mm to nano meter =', dist*1000000)
  print('mm to mile =', dist*0.0000006213)
  print('mm to yard =', dist*0.001093)
  print('mm to foot =', dist*0.003280)
  print('mm to inch =', dist*0.03937)
  print('mm to nautical mile =', dist*0.0000005399)

Please Enter Unit of Measuremnt mm
Please enter Distance 12345
mm to micro meter = 12345000.0
mm to cm = 1234.5
mm to m = 12.345
mm to km = 0.012345
mm to nano meter = 12345000000.0
mm to mile = 0.0076699485
mm to yard = 13.493085
mm to foot = 40.4916
mm to inch = 486.02265000000006
mm to nautical mile = 0.0066650655

In [ ]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'mm'):
  print('mm to micro meter =', dist*1000)
  print('mm to cm =', dist*0.1)
  print('mm to m =', dist*0.001)
  print('mm to km =', dist*0.000001)
  print('mm to nano meter =', dist*1000000)
  print('mm to mile =', dist*0.0000006213)
  print('mm to yard =', dist*0.001093)
  print('mm to foot =', dist*0.003280)
  print('mm to inch =', dist*0.03937)
  print('mm to nautical mile =', dist*0.0000005399)

Please Enter Unit of Measuremnt mm
Please enter Distance 1000
mm to micro meter = 1000000.0
mm to cm = 100.0
mm to m = 1.0
mm to km = 0.001
mm to nano meter = 1000000000.0
mm to mile = 0.0006213
mm to yard = 1.093
mm to foot = 3.28
mm to inch = 39.370000000000005
mm to nautical mile = 0.0005399000000000001

In [ ]:
'''1 cm = 10000 micro meter
   1 cm = 10 mm
   1 cm = 0.01 m
   1 cm = 0.00001 km
   1 cm = 10000000 nano meter
   1 cm = 0.000006213 mile
   1 cm = 0.01093 yard
   1 cm = 0.03280 foot
   1 cm = 0.3937 inch
   1 cm = 0.000005399 nautical mile'''
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'cm'):
  print('cm to micro meter =', dist*1000)
  print('cm to mm =', dist*10)
  print('cm to m =', dist*0.001)
  print('cm to km =', dist*0.000001)
  print('cm to nano meter =', dist*1000000)
  print('cm to mile =', dist*0.0000006213)
  print('cm to yard =', dist*0.001093)
  print('cm to foot =', dist*0.003280)
  print('cm to inch =', dist*0.03937)
  print('cm to nautical mile =', dist*0.0000005399)

Please Enter Unit of Measuremnt cm
Please enter Distance 1000
cm to micro meter = 1000000.0
cm to mm = 10000.0
cm to m = 1.0
cm to km = 0.001
cm to nano meter = 1000000000.0
cm to mile = 0.0006213
cm to yard = 1.093
cm to foot = 3.28
cm to inch = 39.370000000000005
cm to nautical mile = 0.0005399000000000001

In [ ]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'cm'):
  print('cm to micro meter =', dist*1000)
  print('cm to mm =', dist*10)
  print('cm to m =', dist*0.001)
  print('cm to km =', dist*0.000001)
  print('cm to nano meter =', dist*1000000)
  print('cm to mile =', dist*0.0000006213)
  print('cm to yard =', dist*0.001093)
  print('cm to foot =', dist*0.003280)
  print('cm to inch =', dist*0.03937)
  print('cm to nautical mile =', dist*0.0000005399)

Please Enter Unit of Measuremnt cm
Please enter Distance 12345
cm to micro meter = 12345000.0
cm to mm = 123450.0
cm to m = 12.345
cm to km = 0.012345
cm to nano meter = 12345000000.0
cm to mile = 0.0076699485
cm to yard = 13.493085
cm to foot = 40.4916
cm to inch = 486.02265000000006
cm to nautical mile = 0.0066650655

In [ ]:
'''1 m = 1000000 micro meter
   1 m = 100 cm
   1 m = 1000 mm
   1 m = 0.001 km
   1 m = 1000000000 nano meter
   1 m = 0.0006213 mile
   1 m = 1.093 yard
   1 m = 3.280 foot
   1 m = 39.37 inch
   1 m = 0.0005399 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'm'):
  print('m to micro meter =', dist*1000000)
  print('m to cm =', dist*100)
  print('m to mm =', dist*1000)
  print('m to km =', dist*0.001)
  print('m to nano meter =', dist*1000000000)
  print('m to mile =', dist*0.0006213)
  print('m to yard =', dist*1.093)
  print('m to foot =', dist*3.280)
  print('m to inch =', dist*39.37)
  print('m to nautical mile =', dist*0.0005399)

Please Enter Unit of Measuremnt m
Please enter Distance 1000
m to micro meter = 1000000000.0
m to cm = 100000.0
m to mm = 1000000.0
m to km = 1.0
m to nano meter = 1000000000000.0
m to mile = 0.6213
m to yard = 1093.0
m to foot = 3280.0
m to inch = 39370.0
m to nautical mile = 0.5398999999999999

In [ ]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'm'):
  print('m to micro meter =', dist*1000000)
  print('m to cm =', dist*100)
  print('m to mm =', dist*1000)
  print('m to km =', dist*0.001)
  print('m to nano meter =', dist*1000000000)
  print('m to mile =', dist*0.0006213)
  print('m to yard =', dist*1.093)
  print('m to foot =', dist*3.280)
  print('m to inch =', dist*39.37)
  print('m to nautical mile =', dist*0.0005399)

Please Enter Unit of Measuremnt m
Please enter Distance 12345
m to micro meter = 12345000000.0
m to cm = 1234500.0
m to mm = 12345000.0
m to km = 12.345
m to nano meter = 12345000000000.0
m to mile = 7.669948499999999
m to yard = 13493.085
m to foot = 40491.6
m to inch = 486022.64999999997
m to nautical mile = 6.665065499999999

In [ ]:
'''1 micrometer = 0.001 mm
   1 micrometer = 0.0001 cm
   1 micrometer = 0.000001 m
   1 micrometer = 0.000000001 km
   1 micrometer = 1000 nano meter
   1 micrometer = 0.0000000006213 mile
   1 micrometer = 0.000001093 yard
   1 micrometer = 0.000003280 foot
   1 micrometer = 0.00003937 inch
   1 micrometer = 0.0000000005399 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'micrometer'):
  print(' micrometer to mm =', dist*0.001)
  print(' micrometer to cm =', dist*0.0001)
  print(' micrometer to m =', dist*0.000001)
  print(' micrometer to km =', dist*0.000000001)
  print(' micrometer to nano meter =', dist*1000)
  print(' micrometer to mile =', dist*0.0000000006213)
  print(' micrometer to yard =', dist*0.000001093)
  print(' micrometer to foot =', dist*0.000003280)
  print(' micrometer to inch =', dist*0.00003937)
  print(' micrometer to nautical mile =', dist*0.0000000005399)

Please Enter Unit of Measuremnt micrometer
Please enter Distance 1000
 micrometer to mm = 1.0
 micrometer to cm = 0.1
 micrometer to m = 0.001
 micrometer to km = 1.0000000000000002e-06
 micrometer to nano meter = 1000000.0
 micrometer to mile = 6.213e-07
 micrometer to yard = 0.001093
 micrometer to foot = 0.00328
 micrometer to inch = 0.039369999999999995
 micrometer to nautical mile = 5.399e-07

In [ ]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'micrometer'):
  print(' micrometer to mm =', dist*0.001)
  print(' micrometer to cm =', dist*0.0001)
  print(' micrometer to m =', dist*0.000001)
  print(' micrometer to km =', dist*0.000000001)
  print(' micrometer to nano meter =', dist*1000)
  print(' micrometer to mile =', dist*0.0000000006213)
  print(' micrometer to yard =', dist*0.000001093)
  print(' micrometer to foot =', dist*0.000003280)
  print(' micrometer to inch =', dist*0.00003937)
  print(' micrometer to nautical mile =', dist*0.0000000005399)

Please Enter Unit of Measuremnt micrometer
Please enter Distance 12345
 micrometer to mm = 12.345
 micrometer to cm = 1.2345000000000002
 micrometer to m = 0.012345
 micrometer to km = 1.2345000000000001e-05
 micrometer to nano meter = 12345000.0
 micrometer to mile = 7.6699485e-06
 micrometer to yard = 0.013493085
 micrometer to foot = 0.0404916
 micrometer to inch = 0.48602264999999994
 micrometer to nautical mile = 6.6650655e-06

In [ ]:
'''1 km = 1000000000 micro meter
   1 km = 100000 cm
   1 km = 1000 m
   1 km = 1000000 mm
   1 km = 1000000000000 nano meter
   1 km = 0.6213 mile
   1 km = 1093.61 yard
   1 km = 3280.84 foot
   1 km = 39370.1 inch
   1 km = 0.5399 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'km'):
  print('km to micro meter =', dist*1000000000)
  print('km to cm =', dist*100000)
  print('km to m =', dist*1000)
  print('km to mm =', dist*1000000)
  print('km to nano meter =', dist*1000000000000)
  print('km to mile =', dist*0.6213)
  print('km to yard =', dist*1093.61)
  print('km to foot =', dist*3280.84)
  print('km to inch =', dist*39370.1)
  print('km to nautical mile =', dist*0.5399)

Please Enter Unit of Measuremnt km
Please enter Distance 1000
km to micro meter = 1000000000000.0
km to cm = 100000000.0
km to m = 1000000.0
km to mm = 1000000000.0
km to nano meter = 1000000000000000.0
km to mile = 621.3
km to yard = 1093610.0
km to foot = 3280840.0
km to inch = 39370100.0
km to nautical mile = 539.9000000000001

In [ ]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'km'):
  print('km to micro meter =', dist*1000000000)
  print('km to cm =', dist*100000)
  print('km to m =', dist*1000)
  print('km to mm =', dist*1000000)
  print('km to nano meter =', dist*1000000000000)
  print('km to mile =', dist*0.6213)
  print('km to yard =', dist*1093.61)
  print('km to foot =', dist*3280.84)
  print('km to inch =', dist*39370.1)
  print('km to nautical mile =', dist*0.5399)

Please Enter Unit of Measuremnt km
Please enter Distance 12345
km to micro meter = 12345000000000.0
km to cm = 1234500000.0
km to m = 12345000.0
km to mm = 12345000000.0
km to nano meter = 1.2345e+16
km to mile = 7669.9484999999995
km to yard = 13500615.45
km to foot = 40501969.800000004
km to inch = 486023884.5
km to nautical mile = 6665.065500000001

In [ ]:
'''1 nm = 0.001 micro meter
   1 nm = 0.0000001 cm
   1 nm = 0.000000001 m
   1 nm = 0.000000000001 km
   1 nm = 0.000001 mm
   1 nm = 0.0000000000006213 mile
   1 nm = 0.000000001093 yard
   1 nm = 0.000000003280 foot
   1 nm = 0.00000003937 inch
   1 nm = 0.0000000000005399 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'nm'):
  print('nm to micro meter =', dist*0.001)
  print('nm to cm =', dist*0.0000001)
  print('nm to m =', dist*0.000000001)
  print('nm to km =', dist*0.000000000001)
  print('nm to mm =', dist*0.000001)
  print('nm to mile =', dist*0.000000000006213)
  print('nm to yard =', dist*0.000000001093)
  print('nm to foot =', dist*0.000000003280)
  print('nm to inch =', dist*0.00000003937)
  print('nm to nautical mile =', dist*0.0000000000005399)

Please Enter Unit of Measuremnt nm
Please enter Distance 1000
nm to micro meter = 1.0
nm to cm = 9.999999999999999e-05
nm to m = 1.0000000000000002e-06
nm to km = 1e-09
nm to mm = 0.001
nm to mile = 6.213e-09
nm to yard = 1.093e-06
nm to foot = 3.28e-06
nm to inch = 3.9370000000000004e-05
nm to nautical mile = 5.399e-10

In [ ]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'nm'):
  print('nm to micro meter =', dist*0.001)
  print('nm to cm =', dist*0.0000001)
  print('nm to m =', dist*0.000000001)
  print('nm to km =', dist*0.000000000001)
  print('nm to mm =', dist*0.000001)
  print('nm to mile =', dist*0.000000000006213)
  print('nm to yard =', dist*0.000000001093)
  print('nm to foot =', dist*0.000000003280)
  print('nm to inch =', dist*0.00000003937)
  print('nm to nautical mile =', dist*0.0000000000005399)

Please Enter Unit of Measuremnt nm
Please enter Distance 12345
nm to micro meter = 12.345
nm to cm = 0.0012345
nm to m = 1.2345000000000001e-05
nm to km = 1.2344999999999999e-08
nm to mm = 0.012345
nm to mile = 7.6699485e-08
nm to yard = 1.3493085e-05
nm to foot = 4.04916e-05
nm to inch = 0.00048602265
nm to nautical mile = 6.665065499999999e-09

In [65]:
'''1 mile = 1609000000 micro meter
   1 mile = 160934 cm
   1 mile = 1609.34 m
   1 mile = 1.609 km
   1 mile = 1609000000000 nano meter
   1 mile = 1609340 mm
   1 mile = 1760 yard
   1 mile = 5280 foot
   1 mile = 63360 inch
   1 mile = 0.8689 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'mile'):
  print('mile to micro meter =', dist*1609000000)
  print('mile to cm =', dist*160934)
  print('mile to m =', dist*1609.34)
  print('mile to km =', dist*1.609)
  print('mile to nano meter =', dist*1609000000000)
  print('mile to mm =', dist*1609340)
  print('mm to yard =', dist*1760)
  print('mm to foot =', dist*5280)
  print('mm to inch =', dist*63360)
  print('mm to nautical mile =', dist*0.8689)

Please Enter Unit of Measuremnt mile
Please enter Distance 1000
mile to micro meter = 1609000000000.0
mile to cm = 160934000.0
mile to m = 1609340.0
mile to km = 1609.0
mile to nano meter = 1609000000000000.0
mile to mm = 1609340000.0
mm to yard = 1760000.0
mm to foot = 5280000.0
mm to inch = 63360000.0
mm to nautical mile = 868.9

In [68]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'mile'):
  print('mile to micro meter =', dist*1609000000)
  print('mile to cm =', dist*160934)
  print('mile to m =', dist*1609.34)
  print('mile to km =', dist*1.609)
  print('mile to nano meter =', dist*1609000000000)
  print('mile to mm =', dist*1609340)
  print('mm to yard =', dist*1760)
  print('mm to foot =', dist*5280)
  print('mm to inch =', dist*63360)
  print('mm to nautical mile =', dist*0.8689)

Please Enter Unit of Measuremnt mile
Please enter Distance 12345
mile to micro meter = 19863105000000.0
mile to cm = 1986730230.0
mile to m = 19867302.3
mile to km = 19863.105
mile to nano meter = 1.9863105e+16
mile to mm = 19867302300.0
mm to yard = 21727200.0
mm to foot = 65181600.0
mm to inch = 782179200.0
mm to nautical mile = 10726.5705

In [69]:
'''1 yard = 914400 micro meter
   1 yard = 91.44 cm
   1 yard = 0.9144 m
   1 yard = 0.0009144 km
   1 yard = 914400000 nano meter
   1 yard = 0.0005681 mile
   1 yard = 914.4 mm
   1 yard = 3 foot
   1 yard = 36 inch
   1 yard = 0.0004937 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'yard'):
  print('yard to micro meter =', dist*914400)
  print('yard to cm =', dist*91.44)
  print('yard to m =', dist*0.9144)
  print('yard to km =', dist*0.0009144)
  print('yard to nano meter =', dist*914400000)
  print('yard to mile =', dist*0.0005681)
  print('yard to mm =', dist*914.4)
  print('yard to foot =', dist*3)
  print('yard to inch =', dist*36)
  print('yard to nautical mile =', dist*0.0004937)

Please Enter Unit of Measuremnt yard
Please enter Distance 1000
yard to micro meter = 914400000.0
yard to cm = 91440.0
yard to m = 914.4
yard to km = 0.9144
yard to nano meter = 914400000000.0
yard to mile = 0.5680999999999999
yard to mm = 914400.0
yard to foot = 3000.0
yard to inch = 36000.0
yard to nautical mile = 0.4937

In [70]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'yard'):
  print('yard to micro meter =', dist*914400)
  print('yard to cm =', dist*91.44)
  print('yard to m =', dist*0.9144)
  print('yard to km =', dist*0.0009144)
  print('yard to nano meter =', dist*914400000)
  print('yard to mile =', dist*0.0005681)
  print('yard to mm =', dist*914.4)
  print('yard to foot =', dist*3)
  print('yard to inch =', dist*36)
  print('yard to nautical mile =', dist*0.0004937)

Please Enter Unit of Measuremnt yard
Please enter Distance 12345
yard to micro meter = 11288268000.0
yard to cm = 1128826.8
yard to m = 11288.268
yard to km = 11.288268
yard to nano meter = 11288268000000.0
yard to mile = 7.0131945
yard to mm = 11288268.0
yard to foot = 37035.0
yard to inch = 444420.0
yard to nautical mile = 6.0947265

In [71]:
'''1 foot = 304800 micro meter
   1 foot = 30.48 cm
   1 foot = 0.3048 m
   1 foot = 0.0003048 km
   1 foot = 308400000 nano meter
   1 foot = 0.0001893 mile
   1 foot = 0.33333 yard
   1 foot = 304.8 mm
   1 foot = 12 inch
   1 foot = 0.000164579 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'foot'):
  print('foot to micro meter =', dist*304800)
  print('foot to cm =', dist*30.48)
  print('foot to m =', dist*0.3048)
  print('foot to km =', dist*0.0003048)
  print('foot to nano meter =', dist*308400000)
  print('foot to mile =', dist*0.0001893)
  print('foot to yard =', dist*0.3333)
  print('foot to mm =', dist*304.8)
  print('foot to inch =', dist*12)
  print('foot to nautical mile =', dist*0.000164579)

Please Enter Unit of Measuremnt foot
Please enter Distance 1000
foot to micro meter = 304800000.0
foot to cm = 30480.0
foot to m = 304.8
foot to km = 0.30479999999999996
foot to nano meter = 308400000000.0
foot to mile = 0.1893
foot to yard = 333.3
foot to mm = 304800.0
foot to inch = 12000.0
foot to nautical mile = 0.164579

In [72]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'foot'):
  print('foot to micro meter =', dist*304800)
  print('foot to cm =', dist*30.48)
  print('foot to m =', dist*0.3048)
  print('foot to km =', dist*0.0003048)
  print('foot to nano meter =', dist*308400000)
  print('foot to mile =', dist*0.0001893)
  print('foot to yard =', dist*0.3333)
  print('foot to mm =', dist*304.8)
  print('foot to inch =', dist*12)
  print('foot to nautical mile =', dist*0.000164579)

Please Enter Unit of Measuremnt foot
Please enter Distance 12345
foot to micro meter = 3762756000.0
foot to cm = 376275.6
foot to m = 3762.7560000000003
foot to km = 3.762756
foot to nano meter = 3807198000000.0
foot to mile = 2.3369085
foot to yard = 4114.5885
foot to mm = 3762756.0
foot to inch = 148140.0
foot to nautical mile = 2.0317277550000004

In [73]:
'''1 inch = 25400 micro meter
   1 inch = 2.54 cm
   1 inch = 0.0254 m
   1 inch = 0.0000254 km
   1 inch = 25400000 nano meter
   1 inch = 0.000015783 mile
   1 inch = 0.027777 yard
   1 inch = 0.083333 foot
   1 inch = 25.4 mm
   1 inch = 0.00001371 nautical mile'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'inch'):
  print('inch to micro meter =', dist*25400)
  print('inch to cm =', dist*2.54)
  print('inch to m =', dist*0.0254)
  print('inch to km =', dist*0.0000254)
  print('inch to nano meter =', dist*25400000)
  print('inch to mile =', dist*0.000015783)
  print('inch to yard =', dist*0.027777)
  print('inch to foot =', dist*0.083333)
  print('inch to mm =', dist*25.4)
  print('inch to nautical mile =', dist*0.00001371)

Please Enter Unit of Measuremnt inch
Please enter Distance 1000
inch to micro meter = 25400000.0
inch to cm = 2540.0
inch to m = 25.4
inch to km = 0.025400000000000002
inch to nano meter = 25400000000.0
inch to mile = 0.015783000000000002
inch to yard = 27.777
inch to foot = 83.333
inch to mm = 25400.0
inch to nautical mile = 0.01371

In [74]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'inch'):
  print('inch to micro meter =', dist*25400)
  print('inch to cm =', dist*2.54)
  print('inch to m =', dist*0.0254)
  print('inch to km =', dist*0.0000254)
  print('inch to nano meter =', dist*25400000)
  print('inch to mile =', dist*0.000015783)
  print('inch to yard =', dist*0.027777)
  print('inch to foot =', dist*0.083333)
  print('inch to mm =', dist*25.4)
  print('inch to nautical mile =', dist*0.00001371)

Please Enter Unit of Measuremnt inch
Please enter Distance 12345
inch to micro meter = 313563000.0
inch to cm = 31356.3
inch to m = 313.563
inch to km = 0.31356300000000004
inch to nano meter = 313563000000.0
inch to mile = 0.19484113500000003
inch to yard = 342.907065
inch to foot = 1028.745885
inch to mm = 313563.0
inch to nautical mile = 0.16924994999999998

In [75]:
'''1 nautical mile = 1852000000 micro meter
   1 nautical mile = 185200 cm
   1 nautical mile = 1852 m
   1 nautical mile = 1.852 km
   1 nautical mile = 1852000000000 nano meter
   1 nautical mile = 1.1507 mile
   1 nautical mile = 2025.37 yard
   1 nautical mile = 6076.12 foot
   1 nautical mile = 72913.2 inch
   1 nautical mile = 1852000 mm'''

unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'nautical mile'):
  print('nautical mile to micro meter =', dist*1852000000)
  print('nautical mile to cm =', dist*185200)
  print('nautical mile to m =', dist*1852)
  print('nautical mile to km =', dist*1.852)
  print('nautical mile to nano meter =', dist*1852000000000)
  print('nautical mile to mile =', dist*1.1507)
  print('nautical mile to yard =', dist*2025.37)
  print('nautical mile to foot =', dist*6067.12)
  print('nautical mile to inch =', dist*72913.2)
  print('nautical mile to mm =', dist*1852000)

Please Enter Unit of Measuremnt nautical mile
Please enter Distance 1000
nautical mile to micro meter = 1852000000000.0
nautical mile to cm = 185200000.0
nautical mile to m = 1852000.0
nautical mile to km = 1852.0
nautical mile to nano meter = 1852000000000000.0
nautical mile to mile = 1150.7
nautical mile to yard = 2025370.0
nautical mile to foot = 6067120.0
nautical mile to inch = 72913200.0
nautical mile to mm = 1852000000.0

In [76]:
unit = input("Please Enter Unit of Measuremnt ")
dist = float(input('Please enter Distance '))

if (unit == 'nautical mile'):
  print('nautical mile to micro meter =', dist*1852000000)
  print('nautical mile to cm =', dist*185200)
  print('nautical mile to m =', dist*1852)
  print('nautical mile to km =', dist*1.852)
  print('nautical mile to nano meter =', dist*1852000000000)
  print('nautical mile to mile =', dist*1.1507)
  print('nautical mile to yard =', dist*2025.37)
  print('nautical mile to foot =', dist*6067.12)
  print('nautical mile to inch =', dist*72913.2)
  print('nautical mile to mm =', dist*1852000)

Please Enter Unit of Measuremnt nautical mile
Please enter Distance 12345
nautical mile to micro meter = 22862940000000.0
nautical mile to cm = 2286294000.0
nautical mile to m = 22862940.0
nautical mile to km = 22862.940000000002
nautical mile to nano meter = 2.286294e+16
nautical mile to mile = 14205.391500000002
nautical mile to yard = 25003192.65
nautical mile to foot = 74898596.4
nautical mile to inch = 900113454.0
nautical mile to mm = 22862940000.0