<a href="https://colab.research.google.com/github/amitraghatate/Basic-of-Python/blob/Conditional-Statement/Loops%2C_while_%26_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''Loops
1) while
2) for'''

In [3]:
#while
a = 10
while (a<20):
  print('Addition of Numbers:',a)
  a+=1

Addition of Numbers: 10
Addition of Numbers: 11
Addition of Numbers: 12
Addition of Numbers: 13
Addition of Numbers: 14
Addition of Numbers: 15
Addition of Numbers: 16
Addition of Numbers: 17
Addition of Numbers: 18
Addition of Numbers: 19

In [10]:
a = 20
while (a>10):
  print('Subtration of Numbers:',a)
  a-=1

Subtration of Numbers: 20
Subtration of Numbers: 19
Subtration of Numbers: 18
Subtration of Numbers: 17
Subtration of Numbers: 16
Subtration of Numbers: 15
Subtration of Numbers: 14
Subtration of Numbers: 13
Subtration of Numbers: 12
Subtration of Numbers: 11

In [11]:
#while and else
a = 20
while(a > 10):
  print("Subtraction of Numbers:",a)
  a-=1
else:
  print("We are in else section")

Subtraction of Numbers: 20
Subtraction of Numbers: 19
Subtraction of Numbers: 18
Subtraction of Numbers: 17
Subtraction of Numbers: 16
Subtraction of Numbers: 15
Subtraction of Numbers: 14
Subtraction of Numbers: 13
Subtraction of Numbers: 12
Subtraction of Numbers: 11
We are in else section

In [12]:
#Break
a = 20
while(a > 10):
  print("Subtraction of Numbers:",a)
  a-=1
  if(a==15):
    break
else:
  print("We are in else section")

Subtraction of Numbers: 20
Subtraction of Numbers: 19
Subtraction of Numbers: 18
Subtraction of Numbers: 17
Subtraction of Numbers: 16

In [16]:
#Continue
a = 20
while(a>10):
  a-=1
  if(a==15):
    continue                        #skip value 15
  print('Subtration of Numbers:',a)
else:
  print('We are in else section')

Subtration of Numbers: 19
Subtration of Numbers: 18
Subtration of Numbers: 17
Subtration of Numbers: 16
Subtration of Numbers: 14
Subtration of Numbers: 13
Subtration of Numbers: 12
Subtration of Numbers: 11
Subtration of Numbers: 10
We are in else section

In [32]:
#Nested while
lang = 'Java'
db = 'Oracle'
os = 'Unix'

while(lang == 'Java'):
  print('Java Programmer')
  lang = None
  while(db == 'Oracle'):
    print('Oracle Database')
    db = None
    while(os == 'Unix'):
      print('Unix operating system')
      os = None

Java Programmer
Oracle Database
Unix operating system

In [33]:
var_lst = [0,1,2,3,4,5,6,7,8,9,10]

for i in var_lst:
  print('Print List:',i)

Print List: 0
Print List: 1
Print List: 2
Print List: 3
Print List: 4
Print List: 5
Print List: 6
Print List: 7
Print List: 8
Print List: 9
Print List: 10

In [34]:
var_tup = [0,1,2,3,4,5,6,7,8,9,10]

for i in var_tup:
  print('Print Tuple:',i)

Print Tuple: 0
Print Tuple: 1
Print Tuple: 2
Print Tuple: 3
Print Tuple: 4
Print Tuple: 5
Print Tuple: 6
Print Tuple: 7
Print Tuple: 8
Print Tuple: 9
Print Tuple: 10

In [36]:
for i in range(0,11):
  print('Print range:',i)

Print range: 0
Print range: 1
Print range: 2
Print range: 3
Print range: 4
Print range: 5
Print range: 6
Print range: 7
Print range: 8
Print range: 9
Print range: 10

In [42]:
for i in ('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig'):
  print('Fruits:',i)

Fruits: Apple
Fruits: Banana
Fruits: Cherries
Fruits: Dates
Fruits: Eggfruit
Fruits: Fig

In [47]:
for i in ('Apple', 'Banana', 'Cherries', 'Dates', 'Eggfruit', 'Fig'):
  print(' Fruits:',i,end='')

 Fruits: Apple Fruits: Banana Fruits: Cherries Fruits: Dates Fruits: Eggfruit Fruits: Fig

In [43]:
for i in ['Python', 'Programming']:
  print('List -',i)

List - Python
List - Programming

In [49]:
for i in ['Python', 'Programming']:
  print(i, end='')

PythonProgramming

In [50]:
for i in ['Python', 'Programming']:
  print(i, end=' ')

Python Programming

In [56]:
for i in ['P-y-t-h-o-n P-r-o-g-r-a-m-m-i-n-g']:
  print(i, sep=' - ', end=' ')

P-y-t-h-o-n P-r-o-g-r-a-m-m-i-n-g